@import "mocha.css";

* {
    font-family: "Ubuntu ";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#workspaces {
    margin-left: 22px;
    border-left: 1px solid @surface2;
    padding-left: 8px;
}

#workspaces button {
    padding: 0 4px 0 0;
    border-bottom: 0;
    border-top: 0;
}

#workspaces button.focused {
    background: @lavender;
    color: @background;
}

#workspaces button.active {
    color: @lavender;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
    margin-left: 4px;
    padding-left: 8px;
    border-left: 1px solid @surface2;
}

#clock {
    color: @lavender;
}

#idle_inhibitor {
    color: @green;
}

#pulseaudio {
    color: @subtext1;
}

#custom-bluetooth {
    color: @blue;
}

#idle_inhibitor.activated {
    color: @red;

}

#custom-vpn.connected {
    color: @green
}
#custom-vpn.disconnected {
    color: @red
}

#custom-power {
    margin: 0 22px 0 0;
}

#tray,
#pulseaudio {
    padding: 0 8px 0 0;
}
#group-group-power,
#group-group-tray,
#clock,
#idle_inhibitor,
#custom-notification,
#custom-bluetooth,
#custom-vpn,
#custom-lock,
#custom-quit,
#custom-reboot {
    padding: 0 4px;
}
