window#waybar {
	background: transparent;
	color: #fff;
}

widget>label {
  margin: 10px 5px 10px 5px;
  padding: 0 10px;
  background: #3b4252;
}

widget>label#bluetooth {
  margin: 8px 0px 4px 16px;
  background: #bf616a;
  padding: 8px 10px;
  font-size: 1.4em;
  border-radius: 4px;
}

widget>label#clock {
  margin: 4px 0px 38px 16px;
  color: #fff;
  font-weight: bold;
  background: #5e81ac;
  border-radius: 4px;
  padding: 16px 10px 16px 10px;
  font-size: 16px;
  font-family: monospace;
}

#workspaces {
  border-radius: 4px;
  margin: 20px 0px 0px 16px;
}

#workspaces button {
  color: #777;
  padding: 6px 8px;
  font-size: 1.2em;
}

#workspaces button.focused {
  color: #2e3440;
  border-radius: 4px;
  background: #e5e9f0;
}

#battery, #network, #memory, #cpu, #pulseaudio {
  padding: 16px 10px;
  margin: 8px 0px 8px 16px;
  border-radius: 4px;
  font-size: 1.2em;
}

#custom-menu {
  padding: 0px 10px;
  margin-left: 0;
}
